
<div id="rectangle">

        <img id="logoAmundi" src="../../assets/images/amundi.jpg" alt="logo_amundi"/>

        <nav>
                <ul class="menu">
                        <li >Menu</li>
                        <li (click)="popupAddRequest()"> Ajouter une requete</li>
                        <li (click)="popupModifyRequest()"> Modifier requete</li>

                </ul>
        </nav>
</div>
<div id="liste-menu">

    <ul>
        <div *ngFor="let request of  getAvailableRequests()">
            <li style="list-style-type: none;" (click)="startRequest(request)" >{{request.description}} </li><hr/> 
        </div>    
      
    </ul>   
</div>


<div id="liste-requete-afficher">
        <ul>
                <div id="liste-inline" *ngFor="let request of requestsStarted ; let indexRequest = index">
                        <div id="liste-inline" *ngIf=" isShow(indexRequest) else normalRequest">
                                <li style="list-style-type: none;" id ="requestShow" (click)="showRequest(indexRequest)">{{request.description}}<br>
                                        {{request.hourOfStart | date:'medium'}} 
                                        <button id="btnRequest" (click)="realoadRequest(request)">
                                                <mat-icon>autorenew</mat-icon>
                                                </button> 
                                                <button id="btnRequest" (click)="deleteElement(indexRequest)">
                                                        <mat-icon>clear</mat-icon>
                                                </button></li>
                                               
                                               
                        </div>
                        <ng-template #normalRequest>
                                <li style="list-style-type: none;" id="startedRequest" (click)="showRequest(indexRequest)">{{request.description}}<br>
                                        {{request.hourOfStart | date:'medium'}} 
                                        <button id="btnRequest" (click)="realoadRequest(request)">
                                                <mat-icon>autorenew</mat-icon>
                                                </button>
                                                <button id="btnRequest" (click)="deleteElement(indexRequest)">
                                                        <mat-icon>clear</mat-icon>
                                                </button>
                                </li>
                        </ng-template>
                        
                </div> 
        </ul>
        
</div>



<ag-grid-angular
#agGrid
style="width:73%; height: 74%;padding-left: 25%;padding-top:25px"
class="ag-theme-balham"
[rowData]="rowData"
[columnDefs]="columnDefs"
[animateRows]="true"
[pagination]="true"

>
</ag-grid-angular>


