
body{
  font-family: "Varela Round", sans-serif;
}

#rectangle{
  margin-top: 20px;
  background-color: white;
  height: 90px;
  position: relative;
}

#logoAmundi{
  max-width: 8.4%;
	height: auto;
 
}

#liste-menu ul{
    position:absolute;
    width:450px;
    margin:40px auto 0;
    padding : 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 75%;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset white; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(199,200,202);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0,28,75);
  border-radius: 10px;
}

#liste-menu ul li {
background: rgb(0,28,75); 
padding: 10px 20px;
color: #fff;
margin:5 px 0;
transition: .5s;
cursor: pointer;
border-radius: 17px;

}

#liste-menu ul li:hover{
    background:   rgb(0,182,237);

}

#liste-requete-afficher {
  overflow: auto;
  white-space: nowrap;
  position: relative;
  left: 460px;
  width: 75%;
}

#requestShow{
  background: rgb(0,28,75); 
  display: inline-block;
  color:#fff;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
}

#startedRequest{
  background :  rgb(0,182,237);
  color:#fff;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
}
#liste-inline{
  display: inline-block;
}

#liste-requete-afficher li{
  margin-left: 5px;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.menu {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}


.menu li {
  cursor: pointer;

  width: 250px;
  height: 20px;
  transition: background-position-x 0.9s linear;
  text-align: center;

  
    font-size: 22px;
    color: rgb(0,28,75);
    text-decoration: none;
    transition: all 0.45s;
  

 
}


#btnRequest{
  color:#fff;
  border: none;
  background: none;
  padding-bottom: 1px;
  cursor: pointer;
}

#btnRequest:hover{
  color:rgb(238,180,192);
}


#account{
  position: relative;
  
   text-align: center;
   left: 115%;
   top: 100%;
  
}

#accountUse{
  
  font-size: 29px;
  color: rgb(0,28,75);
}

#btnDeconnexion{
  background-color: rgb(0,28,75); 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
   left: 125%;
   bottom: 150%;
}